:root{
    --color-main: #1E0D3F;
    --color-contrast-medium: #C71585;
    --color-contrast-cold: #3399FF;
    --color-text: #F9F2E7;
    --color-contrast-warm: #ff9825;
}

body{
    padding: 0;
    margin:0;
    min-height: 100%;
    width: 100%;
    background-color: var(--color-main);
}
